* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
  font-size: 16px;
  padding: 1rem;
  color: hsl(204, 43%, 93%);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 1.5;
}

.single-price {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

section {
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.title {
  padding: 1rem 0;
}

.subtitle {
  color: hsl(71, 73%, 54%);
  font-size: 1.1rem;
}

.description {
  padding: 1rem 0;
}

.section-1__title {
  color: hsl(179, 62%, 43%);
}

.section-1__description {
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
}

.subscription {
  background-color: hsl(179, 62%, 43%);
}

.money {
  font-size: 2rem;
  font-weight: 700;
}

.period {
  color: hsl(204, 43%, 93%);
  font-size: 1rem;
  font-weight: 4;
}

.sign-up {
  text-decoration: none;
  color: hsl(204, 43%, 93%);
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 5px;
  font-weight: 700;
}

.why-us {
  background-color: hsla(179, 62%, 43%, 80%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .single-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8rem auto;
  }

  .join {
    grid-area: 1 / 1 / 2 / 3;
  }

  .section-1__description {
    font-size: 1.1rem;
    margin-right: 4rem;
  }
}
